
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
}

nav {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: FadeIn 2s ease-in-out forwards;
}

nav .left {
  display: flex;
}

nav .left li {
  font-size: 13px;
  color: black;
  padding: 6px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-right: 5px;
}

nav .right .time {
  text-align: right;
}

nav .right form {
  display: inline;
  margin-right: 10px;
}

nav .right .label {
  font-size: 16px;
  font-weight: 600;
  color: #f1c40f;
}

nav .right .name {
  width: 60px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  background-color: #f1c40f;
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
}

nav .right .name:focus {
  width: 120px;
  transition: all 0.5s ease-in-out;
}

nav .right .hidden {
  display: none;
}

nav .right .reset {
  color: rgba(255, 255, 255, 0.5);
}

