*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;    margin: 0 auto;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

button {
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.h {
    position: absolute;
    top: -9999px;
    opacity: 0;
}